
<header class="header">
    <div class="header-inner container">
      <div class="logo">
        <a href="index.html"><img src="/logocleanstay.webp" alt="CleanStay Logo"></a>
      </div>
      
  <div class="header-nav">
    <nav class="nav">
      <ul class="nav-list">
      </ul>
    </nav>
    <a class="contact-link" href="#kontakt">Objednát</a>
    </div>
    <button id="burgerBtn" class="burger-menu-btn" aria-label="Open menu" type="button">
      <svg class="burger-menu-btn-icon" width="32" height="32">
        <use href="/sprite.svg#burger"></use>
      </svg>
    </button>
    <div data-include="./src/partials/modal.html"></div>
  </div>
    
  </header>

  <script src="./src/js/header-handler.js"></script>