<div class="menu is-close">
    <div class="menu-wrapper">
        <div class="menu-header-content">
            <div class="logo">
                <a href="index.html"><img src="./src/images/logocleanstay.webp" alt="CleanStay Logo"></a>
            </div>
            <button class="menu-close-btn" aria-label="Zavřít menu">&times;</button>
        </div>
        <nav class="menu-nav">
            <ul class="menu-nav-list">
            </ul>
            <a class="menu-order-link" href="#kontakt" data-link-order="">Objednát</a>
        </nav>
        
   
    <ul class="social-list menu-social-list">
        <li class="social-item">
            <a class="social-link instagram" href="https://www.instagram.com/cleanstay.cz/" target="_blank">Instagram</a>
        </li>
        <li class="social-item">
            <a class="social-link facebook" href="https://www.facebook.com/CleanStayPraha/" target="_blank">Facebook</a>
        </li>
    </ul>
    </div>
</div>